h1{
    font-size: 1.5rem;
    color: #b0b0b0;
    text-decoration: underline; 
    padding-bottom: 20px;
}

.image_section img{
    height :10rem;
    width:22vw;
    background-size: cover;
    border-radius: 0.5rem;
   
}
.image_section{
    position: relative;
    cursor: pointer;
}
.title_class{
     position: absolute;
     color:white;
     font-size: 1.2rem;
}

.overlay{
    position: absolute;
    height: 10rem;
    width:22vw;
    opacity: 0.6;
    background: #000;
    border-radius: 0.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 640px){
    .image_section img{
        height :12rem;
         width:100%;
         background-size: cover;
         margin-top: 2rem;
    }

    .image_section.overlay{
        position: absolute;
        height: 12rem;
        width:100%;
        background: #000;
        opacity: 0.6;
        border-radius: 0.5rem;
    }
}   